#assetwise-family #top-slider {
  margin-bottom: 0;
}
#assetwise-family .sec-topicbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #161616 url(../images/family-topic-bar.jpg) top center;
  background-size: cover;
}
#assetwise-family .sec-topicbar img.logo {
  width: 170px;
}
#assetwise-family .sec-topicbar .title {
  padding-top: 25px;
}
#assetwise-family .sec-topicbar .title span {
  color: #fff;
  font-size: 2em;
  font-weight: 100;
  margin-top: 20px;
  line-height: 1;
}
#assetwise-family .sec-topicbar .link a {
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  display: block;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}
#assetwise-family .sec-topicbar .link a img {
  height: 20px;
  margin-left: 6px;
}
