@media (max-width: 480px) {
  .no-padding-xs {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
body {
  font-family: 'db_heavent', sans-serif, Helvetica;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:focus {
  outline: none;
}
@media (min-width: 800px) {
  header#masthead {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}
@media (max-width: 800px) {
  header#masthead {
    position: fixed;
    width: 100%;
    z-index: 11;
    height: 55px;
  }
}
header .line-1 {
  background-color: #202020;
  min-height: 50px;
}
@media (max-width: 480px) {
  header .line-1 {
    min-height: 55px;
    position: relative;
    z-index: 3;
  }
}
header .line-1 .menu-toggle {
  background: #202020;
}
header .line-1 .logo-wrapper {
  width: 130px;
  height: 120px;
  background-color: #fff;
  float: left;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  cursor: pointer;
  z-index: 4;
}
@media (max-width: 800px) {
  header .line-1 .logo-wrapper {
    padding: 10px;
    width: 100px;
    height: 100px;
    line-height: 80px;
  }
}
@media (max-width: 480px) {
  header .line-1 .logo-wrapper {
    width: 80px;
    height: 65px;
    line-height: 40px;
    left: 50%;
    margin-left: -40px;
  }
}
header .line-1 .logo-wrapper .logo {
  display: inline-block;
  cursor: pointer;
}
header .line-1 .logo-wrapper .logo img {
  width: 100px;
}
@media (max-width: 480px) {
  header .line-1 .top-right-social {
    margin-top: 10px;
  }
}
header .line-1 .top-right-social a {
  color: #fff;
  font-size: 30px;
  margin: 10px 5px 0;
  display: inline-block;
}
@media (max-width: 480px) {
  header .line-1 .top-right-social a {
    margin: 0 5px 0;
  }
}
header .line-1 .top-right-social a:hover,
header .line-1 .top-right-social a:focus {
  text-decoration: none;
}
header .line-1 .top-right-social a#line-link img {
  width: 15px;
  margin-top: -5px;
}
header .line-2 {
  background-color: #141313;
  padding: 5px 0;
}
@media (max-width: 480px) {
  header .line-2 {
    margin-top: -100%;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  header .line-2.open {
    margin-top: 0%;
  }
}
header .line-2 ul {
  float: right;
}
@media (max-width: 480px) {
  header .line-2 ul {
    margin: 35px 0 10px;
    display: block;
  }
}
@media (max-width: 480px) {
  header .line-2 ul li {
    display: block;
    width: 100%;
    text-align: center;
  }
}
header .line-2 ul li a {
  color: #fefefe;
  height: auto;
  line-height: 24px;
  margin: 5px 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  white-space: nowrap;
  transition: color 400ms;
  font-weight: 300;
  font-family: 'db_heavent', Helvetica, sans-serif;
  border: 2px solid transparent;
}
@media (max-width: 1200px) {
  header .line-2 ul li a {
    font-size: 16px;
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  header .line-2 ul li a {
    font-size: 22px;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
  }
}
header .line-2 ul li a:hover,
header .line-2 ul li a:focus {
  color: #bbb;
  transition: color 320ms;
  text-decoration: none;
}
header .line-2 ul li.current-menu-item a {
  border-color: #fefefe;
  border-radius: 15px;
  background-color: #313030;
}
.hamburger {
  position: relative;
  z-index: 10;
  left: 3px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #fff;
  text-transform: none;
  background-color: #fff;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  margin-top: 13px;
  cursor: pointer;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 23px;
  height: 2px;
  background-color: #fff !important;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before {
  width: 23px;
  height: 2px;
  background-color: #fff !important;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -9px;
}
.hamburger-inner::after {
  width: 23px;
  height: 2px;
  background-color: #fff !important;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -7px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -18px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
  margin-top: 2px;
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-box {
  margin-top: 13px;
}
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block !important;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow-y: hidden;
  /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
  height: auto;
  /* let the content decide it  */
}
/* bootstrap hack end */
#header-space {
  height: 100px;
  width: 100%;
  display: block;
}
@media (max-width: 768px) {
  #header-space {
    height: 95px;
  }
}
@media (max-width: 480px) {
  #header-space {
    height: 55px;
  }
}
@media (max-width: 480px) {
  .main-navigation {
    padding: 0 15px;
  }
}
@media (max-width: 480px) {
  #top-slider {
    margin-bottom: 15px;
  }
}
#top-slider .slick-dots {
  bottom: 20px;
}
#top-slider .slick-dots li {
  margin-left: 0;
  margin-right: 0;
}
#top-slider .slick-dots li button:before {
  font-size: 7px;
  top: 2px;
  color: #fff;
  opacity: 0.7;
}
@media (max-width: 480px) {
  #top-slider .slick-dots {
    bottom: 5px !important;
  }
}
#top-slider .slick-dots li.slick-active {
  margin-left: 4px;
  margin-right: 4px;
}
#top-slider .slick-dots li.slick-active button:before {
  font-size: 13px !important;
  top: 2px;
  color: #fff;
  opacity: 1;
}
#top-slider .slick-arrow {
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}
@media (max-width: 480px) {
  #top-slider .slick-arrow {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  #top-slider .slick-arrow:before {
    font-size: 15px;
  }
}
#top-slider .slick-arrow.slick-prev {
  left: 25px;
}
#top-slider .slick-arrow.slick-prev:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f053";
}
#top-slider .slick-arrow.slick-next {
  right: 25px;
}
#top-slider .slick-arrow.slick-next:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f054";
}
#hero-image {
  overflow: hidden;
  margin-bottom: 30px;
  height: 400px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
@media (max-width: 768px) {
  #hero-image {
    height: 350px;
  }
}
@media (max-width: 480px) {
  #hero-image {
    height: 200px;
  }
}
#register-form {
  width: 350px;
  min-height: 400px;
  background-color: rgba(8, 10, 10, 0.7);
  color: white;
  height: auto;
  float: right;
  padding: 40px 20px 20px;
  position: absolute;
  left: 50%;
  margin-left: 225px;
  border-radius: 0;
  top: 0;
}
#register-form #reg-form {
  margin: 25px 0 15px;
}
#register-form #reg-form .col-50 {
  width: 50%;
  float: left;
  padding: 0 3px;
}
#register-form #reg-form .col-100 {
  width: 100%;
  padding: 0 3px;
}
#register-form #reg-form input[type='text'] {
  border-radius: 0;
  border: none;
  margin-bottom: 7px;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
}
#register-form #reg-form button#regis-submit {
  width: 100%;
  border: none;
  margin-top: 15px;
  padding: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  background-color: #fcb040;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
#register-form .tel {
  color: #fff;
  border: 2px solid #fff;
  width: 190px;
  text-align: center;
  border-radius: 8px;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: underline;
  position: relative;
  display: block;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}
.page-template .page-header img {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
.page-template .page-header h2 {
  display: block;
  font-size: 46px;
  width: 100%;
  font-weight: 400;
  font-family: 'db_heavent', sans-serif, Helvetica;
}
@media (max-width: 480px) {
  .page-template .page-header h2 {
    font-size: 32px;
  }
}
footer#colophon {
  padding: 20px 0 15px;
  background-color: #131112;
}
footer#colophon .footer-logo {
  width: 260px;
}
@media (max-width: 480px) {
  footer#colophon .footer-logo {
    width: 175px;
  }
}
footer#colophon #footer-tel {
  color: #fff;
  font-size: 2em;
}
footer#colophon #footer-tel:hover,
footer#colophon #footer-tel:focus {
  text-decoration: none;
}
footer#colophon #footer-tel img {
  height: 24px;
  margin-top: -5px;
}
footer#colophon #footer-tel span {
  font-size: 30px;
}
footer#colophon .bottom-right-social {
  margin-top: 7px;
}
footer#colophon .bottom-right-social a {
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
  margin: 0 3px;
}
@media (min-width: 980px) {
  footer#colophon .bottom-right-social a {
    opacity: 0.9;
  }
  footer#colophon .bottom-right-social a:hover,
  footer#colophon .bottom-right-social a:focus {
    text-decoration: none;
    opacity: 1;
  }
}
footer#colophon .bottom-right-social a#youtube-link {
  background-image: url("../images/footer-social-youtube.png");
}
footer#colophon .bottom-right-social a#line-at-link {
  background-image: url("../images/footer-social-twitter.png");
}
footer#colophon .bottom-right-social a#ig-link {
  background-image: url("../images/footer-social-ig.png");
}
.sec-topicbar {
  height: 80px;
  font-size: 32px;
  margin-bottom: 30px;
  background: #202020 url('../images/topicbar.jpg');
  background-size: cover;
  font-family: 'db_heavent', Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .sec-topicbar {
    height: 65px;
    font-size: 24px;
  }
}
.sec-topicbar .topicbar-left {
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  text-align: left;
  border-left: 4px solid #fff;
  padding-left: 10px;
  color: white;
  font-weight: 300;
}
@media (max-width: 480px) {
  .sec-topicbar .topicbar-left {
    height: 35px;
    line-height: 35px;
  }
}
.sec-topicbar .topicbar-left .t-grey {
  color: #bebebe;
}
.sec-topicbar .topicbar-left .t-grey-bold {
  color: #bebebe;
  font-size: 1.1em;
  font-weight: 500;
}
.sec-topicbar .topicbar-left .t-blue {
  color: #009edb;
  font-weight: 500;
}
.sec-topicbar .topicbar-right {
  position: absolute;
  float: right;
  margin-right: 15px;
  top: 0;
  right: 0;
}
.sec-topicbar .topicbar-right img {
  height: 80px;
  opacity: 0.8;
}
@media (max-width: 480px) {
  .sec-topicbar .topicbar-right img {
    display: none;
  }
}
@media (max-width: 767px) {
  .sec-topicbar {
    margin-bottom: 15px;
  }
}
.edit-link {
  font-size: 22px;
  color: #202020;
  background-color: #eee;
  padding: 5px 15px;
}
.topicbar-left .blue-text {
  font-weight: 500;
}
.blue-text {
  color: #009edb;
}
.light-blue-text {
  color: #01aef0;
}
@media (max-width: 480px) {
  .navbar-collapse {
    margin: 0 !important;
  }
}
iframe.wp-embedded-content {
  width: 100% !important;
  border: none;
}
.gallery-main-thumb {
  background-size: contain;
  background-position: center;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=global.css.map */
